# Dependencias (Pesadas, no se suben)
node_modules/
client/node_modules/
server/node_modules/

# Variables de Entorno (Secretas, NUNCA subir)
.env
server/.env
client/.env

# Archivos de sistema/IDE
.DS_Store
.vscode/
dist/
build/